.app-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#09c24c;
  overflow-x: hidden;
}
.nav-menu{

}

.nav-menu ul {
  list-style: none;
  display: flex;
  /* border: 2px solid #2ecc71 ; */
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu li {
  text-align: center; 

  /* display: flex;
  flex-direction: column; */
}

.nav-menu a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  display: block;
  margin: 0 auto; 
  color: rgb(255, 255, 255);
}

.nav-menu a:hover {
  color: #0b6906f9;
}

.nav-menu li.active a {
  color: #0b6906f9;
}

/*..........................Fonts*/

.source-serif4-header {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}